@import "tailwindcss";

@theme {
  --color-visa:       #1a1f71;
  --color-mastercard: #eb001b;
  --color-amex:       #007b5e;
  --color-discover:   #f76f20;
  --color-diners:     #004b87;
  --color-rupay:      #1e3a8a;
}
